<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- AXIOS -->
  <script src="https://unpkg.com/axios@0.20.0-0/dist/axios.min.js"></script>
  <!-- VUE -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <title>Vue Email List</title>
</head>
<body>
  <div id="app">
    <h1>{{title}}</h1>
    <p v-if="emails.length < limit">Caricamento...</p>
    <ul v-else>
      <li v-for="email in emails">{{email}}</li>
    </ul>
  </div>



  <script src="script.js"></script>
</body>
</html>